<div id="add-flashcard-container" class="row">
  <button id="add-button" (click)="toggleAddNewNote()">Add Note</button>
</div>

<div *ngIf="showNotes; else noteForm">
  <div class="row">
    <div class="note-wrapper" *ngFor="let note of notes; let i = index">
      <app-notes [note]="note" class="note-card"></app-notes>
      <button (click)="deleteNote(note.id)" class="btn btn-danger mt-2">Delete Note</button>
      <button (click)="editNote(note.id, note)" class="btn btn-secondary mt-2">Edit Note</button>
    </div>
  </div>
</div>

<ng-template #noteForm>
  <div class="new-note-form">
    <h3>{{ isEditing ? 'Edit Note' : 'Create a New Note' }}</h3>

    <div class="form-group">
      <label for="topic">Topic</label>
      <input type="text" id="topic" [(ngModel)]="newTopic" class="form-control">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" [(ngModel)]="newDescription" class="form-control"></textarea>
    </div>

    <h4>Key Points</h4>
    <div *ngFor="let point of newKeypoints; let i = index; trackBy: trackByIndex" class="form-group mb-2 d-flex align-items-center">
      <input
        type="text"
        [(ngModel)]="newKeypoints[i].value"
        class="form-control me-2"
        placeholder="Key point {{ i + 1 }}"
      />
      <button type="button" class="btn btn-danger btn-sm" (click)="removeKeypoint(i)">🗑️</button>
    </div>


    <button (click)="addKeypoint()" class="btn btn-sm btn-custom-primary mt-2">+ Add Keypoint</button>

    <div class="form-actions mt-3">
      <button (click)="isEditing ? updateNote() : saveNewNote()" class="btn btn-primary">
        {{ isEditing ? 'Update Note' : 'Save' }}
      </button>
      <button (click)="cancelNoteForm()" class="btn btn-secondary">Cancel</button>
    </div>
  </div>
</ng-template>
