
.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-card,
app-notes {
  width: 100%;
}

.note-card {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.new-note-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-actions {
  display: flex;
  gap: 1rem;
}

#add-button {
  padding: 10px 20px;
  border: none;
  background-color: #47d770;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}
