<main>
  <div class="container p-4 my-5 rounded-4 shadow-sm" id="dashboard-container">
    <div class="row align-items-center mb-4">
      <div class="col-12 text-center">
        <h1 class="fw-bold">Study Dashboard</h1>
      </div>
    </div>
    <div class="row justify-content-center mb-4">
      <div class="col-md-6 d-flex gap-3 justify-content-center">
        <button class="btn btn-warning w-50" (click)="showFlashCardsDashboard()">Flashcards</button>
        <button class="btn btn-info w-50" (click)="showNotesDashboard()">Notes</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        @if (showFlashCards) {
          <app-flashcard-dashboard></app-flashcard-dashboard>
        } @else {
          <app-notes-dashboard></app-notes-dashboard>
        }
      </div>
    </div>

  </div>
</main>
