<main>
    <div class="container p-3 rounded-3 my-5" id="dashboard-container">
        <div class="row">
            <div class="col-4 pt-4 pb-5 d-flex gap-2">
                <button class="btn btn-warning flex-fill" (click)="showFlashCardsDashboard()">Flashcards</button>
                <button class="btn btn-info flex-fill" (click)="showNotesDashboard()">Notes</button>
            </div>
            <div class="col-4 py-2">
                <h1 class="text-center">Dashboard</h1>
                <p class="text-center">Welcome to the dashboard!</p>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (showFlashCards) {
                    <app-flashcard-dashboard></app-flashcard-dashboard>
                }
                @else {
                    <app-notes-dashboard></app-notes-dashboard>
                }
            </div>
        </div>  
    </div>
 </main>